<h2>新規予約</h2>
<%= form_with model: @reservation, local: true do |f| %>
  <%= f.hidden_field :shop_id, :value => 2 %>
  <p>来店人数：<%= f.number_field :count_person %></p>
  <%= f.submit "送信" %>
<% end %>
